body{
  font-family: "sans-serif", sans-serif;
}

a {
  text-decoration: none;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper{
  position: relative;

}

.align_cen{
  text-align: center;
  align-items: center;

}


}

.nn{
	text-decoration: none;
}




.moin {
;
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}





.a{
  display: block;
  width: 125px;
  height: 42px;
  line-height: 38px;
  font-weight: bold;
  text-decoration: none;
  background: #FFC45D;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #00004d;
  transition: all .35s;
  font-size: 11px;

}


.a:hover{
  width: 200px;
  border: 3px solid #00B6B3;
  background: white;
  color: #000;
  font-size: 20px;
  top: 50%;
  line-height: 32px;
}

.sizee{
  size: 1000px;
}

.carousel .item {
  height: 300px;
}

/*.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}*/


.back{
  background-color: #00cc96
}

.back:hover{
    background-color: #83F7D2;
  }