.z1{
  position: absolute;
  left: 300px
}


.z2{
  position: absolute;
  left: 700px
}
.z3{
  position: absolute;
  left: 1200px
}
.z4{
  position: absolute;
  left: 1600px
}
.z5{
  position: absolute;
  left: 9000px
}